DATABASE_URL=postgresql://url
SECRET_KEY=secretkey
ALGORITHM=algoname
ACCESS_TOKEN_EXPIRE_MINUTES=10
BREVO_API_KEY=apikey
STORAGE_BACKEND=local
# AWS_S3_BUCKET_NAME=
# AWS_FILE_STORAGE_ACCESS_KEY_ID=
# AWS_FILE_STORAGE_SECRET_ACCESS_KEY=
ALLOWED_ORIGINS=http://localhost:5173
ENV=development # production/testing/servicename
# OTEL_EXPORTER_OTLP_ENDPOINT=someurl
# OTEL_EXPORTER_OTLP_HEADERS=api-key=apikey
# REDIS_URL=