DATABASE_URL=postgresql://url
SECRET_KEY=secretkey
ALGORITHM=algoname
ACCESS_TOKEN_EXPIRE_MINUTES=10
BREVO_API_KEY=apikey
STORAGE_BACKEND=local
ALLOWED_ORIGINS=http://localhost:5173
ENV=development # production/testing
OTEL_EXPORTER_OTLP_ENDPOINT=someurl
OTEL_EXPORTER_OTLP_HEADERS=api-key=apikey